*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
table{
    width: 60%;
    background-color: #00000016;
    border-collapse: collapse;
}
th, td{
    border: 1px solid #000;
    padding: 1rem;
}

tr:nth-child(even){
    background-color: #00000024;
}